<!DOCTYPE html>
<html>
<head>
    <title>Create Organisation - Switchyard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap">
</head>
<body>
    <div class="top-nav">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Rails Health Logo">
            <span>RAILS HEALTH</span>
        </div>
    </div>
    <div class="create-org-container">

            <img src="{{ url_for('static', filename='images/switchyard_logo.png') }}" alt="Switchyard Logo" class="main-logo">

            <h3>Create Organisation</h3>

            <p>Create your organisation and add users.<br>
            You have admin rights by default.</p>

            <form method="POST" action="{{ url_for('auth.create_organization') }}">
                {{ form.csrf_token }}

                <div class="form-group">
                    <input type="text" 
                           class="form-control" 
                           name="name" 
                           placeholder="Name of Organisation" 
                           required>
                </div>

                <div class="form-group">
                    <input type="url" 
                           class="form-control" 
                           name="website" 
                           placeholder="Website (optional)">
                </div>

                <div class="form-group">
                    <input type="email" 
                           class="form-control" 
                           name="email" 
                           placeholder="Contact Email ID">
                </div>

                <div class="form-group">
                    <select name="type" class="form-control" required>
                        <option value="" disabled selected>Type of Organisation (select from dropdown)</option>
                        {% for org_type in config['ORGANIZATION_TYPES'] %}
                            <option value="{{ org_type }}">{{ org_type }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <button type="Save" class="btn btn-primary">Finish</button>
                </div>
            </form>

            <div class="footer">This is an early experimental version. Please only use deidentified data.</div>
        </div>
    </div>
</body>
</html>